<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application
      android:label="SumUp Helper"
      android:icon="@android:drawable/sym_def_app_icon"
      android:theme="@style/Theme.Material3.DayNight.NoActionBar">

    <activity android:name=".PayActivity" android:exported="true">
      <!-- Custom scheme zodat Scanfie (web) ons kan openen -->
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="sumuphelper" android:host="pay" />
      </intent-filter>
    </activity>

    <activity android:name=".MainActivity" android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

  </application>
</manifest>

